<!doctype html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/> 
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="alternate" type="application/atom+xml" title="Chris Finne - feed" href="/index.xml" />
    <meta name="google-site-verification" content="cPGGRKlVlMbBDwPvI2uA6q0k9fClg7hiEccT94X75Fc" />
    <title>{{ page.title }}</title>
    <meta name="description" content="Experienced Silicon Valley Startup CTO with Venture Capital experience. Has worked in Consumer, Social, Enterprise Software, Healthcare, Chip and even Nuclear industries." />


  </head>
  <body>
    <!-- 



    Hi, if you are sniffing my HTML,CSS,Javascript and/or Design skills, don't judge me by this. It is a template from a simple Blog engine "Toto". Since this is a personal site, I prioritize it below shaving and haircuts (which are already pretty low on the list).



    -->


    <div id="header">
      <a href="/">Home</a> | <a href="/about">About</a> | <a href="/archives">Blog</a>
    </div>
    <section>
      <div style="float:right;width:145px;margin:0px 0px 20px 20px;text-align:center"><img alt="chris finne" src="/images/chris-finne.png"></div>
      {{ content }}
    </section>
    <footer>
      Copyright &copy; Chris Finne {{ site.time | date: "%Y"}}
      <a rel="author" href="https://profiles.google.com/chrisfinne" style="display:block;float:right">
        <img src="http://www.google.com/images/icons/ui/gprofile_button-44.png" width="44" height="44" />
      </a>

    </footer>

      <script type="text/javascript">
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
      </script>
      <script type="text/javascript">
      try {
      var pageTracker = _gat._getTracker("UA-15756324-1");
      pageTracker._trackPageview();
      } catch(err) {}</script>

  </body>
</html>
